/**
 *
 * Embedded
 *
 * @author Takuto Yanagida
 * @version 2020-06-18
 *
 */


@mixin embedded {
	img, svg, video, canvas, iframe, embed, object, audio {
		max-width: 100%;
		vertical-align: middle;
	}

	img, svg, video, canvas {
		height: auto;
	}

	iframe {
		border: 0;
	}
}
