/**
 * Global
 *
 * @author Takuto Yanagida
 * @version 2023-09-21
 */

@mixin global {
	* {
		font-family: inherit;
		font-size  : inherit;
		line-height: inherit;
	}

	*,
	::before,
	::after {
		box-sizing       : border-box;
		background-repeat: no-repeat;
	}

	:focus-visible {
		outline-color: #7bfc;
	}

	:where(html) {
		--nc-reset-line-height: 1.15;

		text-size-adjust: 100%;
		overflow-wrap   : break-word;

		line-height: var(--nc-reset-line-height);
		tab-size   : 4;

		@media (resolution >= 2dppx) {
			-webkit-font-smoothing : antialiased;  // For Safari and Chrome on macOS
			-moz-osx-font-smoothing: grayscale;  // For Firefox
		}
	}

	// Enable smooth scrolling except when the 'Find on page'
	:where(html:focus-within) {
		scroll-behavior: smooth;
	}

	:where(body) {
		margin: 0;

		min-height: 100vh;
		@supports (min-height: 1dvh) {
			min-height: 100dvh;
		}
	}
}
