/**
 *
 * Reset Style - Base
 *
 * @author Takuto Yanagida
 * @version 2020-06-17
 *
 */


@mixin form {
	legend {
		padding: 0;
	}

	fieldset {
		margin : 0;
		padding: 0;
		border : 0;
	}

	select {
		border: 1px solid WindowFrame;
		border-radius: 0;
		color: inherit;

		text-transform: none;
		appearance    : none;
	}

	optgroup {
		font-weight: normal;
		font-style : normal;  // for Firefox
	}

	option {
		padding: 0;
	}

	textarea {
		margin : 0;
		padding: 0;

		border: 1px solid WindowFrame;
		border-radius: 0;
		color: inherit;

		resize: vertical;
	}

	meter,
	progress {
		vertical-align: baseline;  // Add the correct vertical alignment in Chrome, Edge, & Firefox.
	}

	// ----

	button {
		text-transform: none;  // Remove the inheritance of text transform in Firefox.
	}

	input {
		margin: 0;  // for Checkboxes & radio buttons
	}

	button, input {
		padding: 0;

		border: 1px solid WindowFrame;
		border-radius: 0;
		color: inherit;
	}

	button,
	[type="button"],
	[type="reset"],
	[type="submit"],
	[role="button"] {
		cursor: pointer;  // Apply cursor pointer to button elements
	}

	button,
	[type='button'],
	[type='reset'],
	[type='submit'] {
		appearance: button;  // Correct the style buttons in Safari on iOS

		&::-moz-focus-inner {
			// Remove the inner border & padding of focus outlines in Firefox
			border-style: none;
			padding     : 0;
		}
		&:-moz-focusring {
			// Restore the focus outline styles unset by the previous rule in Firefox
			outline: 1px dotted ButtonText;
		}
	}

	[type='search'] {
		appearance: textfield;  // Correct the odd appearance in Safari on MacOS/iOS
		outline-offset: -2px;  // Correct the outline style in Safari on MacOS
	}

	input[type='search']::-webkit-search-decoration {  // Specificity is important!
		appearance: none;  // Remove the left padding in Safari on macOS
	}

	input[type='file']::-webkit-file-upload-button {  // Specificity is important!
		appearance: none;  // for Chrome & Safari on MacOS/iOS
		font      : inherit;

		padding: 0;

		border: 1px solid WindowFrame;
		border-radius: 0;
		color: inherit;
	}

	input[type="month"],
	input[type="date"],
	input[type="datetime-local"] {
		appearance: none;  // for Safari on iOS
	}

	// ----

	[disabled] {
		cursor: default;  // Replace pointer cursor in disabled elements
	}
}
